<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.map.mapper.MapMapper">

    <select id="getAdressList" resultType="org.scoula.map.domain.MapVO">
        # 최신 데이터 순으로 실거래가 전체 보여주기
        WITH RankedData AS (
            SELECT
                ad.id,
                ad.road_name AS doro_juso,
                ad.x_coordinate,
                ad.y_coordinate,
                ap.no,
                FORMAT(CAST(REPLACE(ap.price, ',', '') AS UNSIGNED) / 10000, 2) AS price,
                ROW_NUMBER() OVER (PARTITION BY ad.id ORDER BY CONCAT(ap.con_month, ap.con_date) DESC) AS row_num
            FROM address_distinct ad
                     RIGHT OUTER JOIN address_price ap ON ad.id = ap.address_id
        )
        SELECT *
        FROM RankedData
        WHERE row_num = 1
        LIMIT 100;
    </select>
    <select id="getAddressDetails" resultType="org.scoula.map.domain.MapDetailDTO">
        SELECT
            ad.id,
            ap.no,
            ad.road_name AS doro_juso,
            ap.price,
            ap.transaction_date AS date,
            ap.spacial,
            ap.dong,
            ap.floor,
            ap.buyer,
            ap.seller,
            ap.build_year,
            ap.type_trade,
            ap.type_build,
            ap.apart_name,
            ap.con_month,
            ap.con_date,
            ap.apart_name
        FROM address_distinct ad
        RIGHT OUTER JOIN address_price ap ON ad.id = ap.address_id
        WHERE ad.id = #{id}
        ORDER BY date DESC;-- id로 필터링
    </select>

    <select id="getAddressListMove" resultType="org.scoula.map.domain.MapVO">
        SELECT
            ad.id,
            ad.road_name AS doro_juso,
            ad.x_coordinate,
            ad.y_coordinate,
            ap.formated_price as price
        FROM address_distinct ad
                 INNER JOIN address_price ap ON ad.id = ap.address_id
                 INNER JOIN zoom_levels zl ON zl.zoom_level = #{zoomLevel}
        WHERE ad.y_coordinate BETWEEN (#{lat} - zl.lat_range / 2) AND (#{lat} + zl.lat_range / 2)
          AND ad.x_coordinate BETWEEN (#{lon} - zl.lon_range / 2) AND (#{lon} + zl.lon_range / 2)
          AND ap.transaction_date = (
            SELECT MAX(ap2.transaction_date)FROM address_price ap2
            WHERE ap2.address_id = ad.id)
    </select>

    <select id="getAddressListMoveCluster" resultType="org.scoula.map.domain.MapVO">
        SELECT
            ad.id,
            ad.road_name AS doro_juso,
            ad.x_coordinate,
            ad.y_coordinate
        FROM address_distinct ad
                 INNER JOIN zoom_levels zl ON zl.zoom_level = #{zoomLevel}
        WHERE ad.y_coordinate BETWEEN (#{lat} - zl.lat_range / 2) AND (#{lat} + zl.lat_range / 2)
          AND ad.x_coordinate BETWEEN (#{lon} - zl.lon_range / 2) AND (#{lon} + zl.lon_range / 2)
    </select>

</mapper>
