<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.map.mapper.MapMapper">

    <select id="getAddressList" resultType="org.scoula.map.domain.MapVO">
        #최신 데이터 순으로 실거래가 전체 보여주기
        select pl.location_no, pl.road_name, pl.x_coordinate, pl.y_coordinate, pl.recent_price
        from property_location pl
        right join property_tbl pr
        on pl.location_no = pr.location_no
        WHERE property_doro_juso in (SELECT property_doro_juso FROM property_tbl
                                     group by property_doro_juso
                                     HAVING COUNT(property_doro_juso) > 1)
    </select>

    <select id="getAddressDetails" resultType="org.scoula.map.domain.MapDetailDTO">
        select
            pl.location_no,
            pr.property_no,
            pl.road_name,
            pr.price,
            DATE_FORMAT(CONCAT(pr.contract_year_month, LPAD(pr.contract_date, '2', '0')), '%Y-%m-%d') as date,
            pr.property_area,
            pr.property_addr_apt_dong,
            pr.property_addr_floor,
            pr.building_year,
            pr.contract_year_month,
            pr.contract_date,
            pr.property_addr_apt_name
        from property_location as pl
        right outer join property_tbl as pr
        on pl.location_no = pr.location_no
        where pl.location_no = #{id}
    </select>

</mapper>
