/* main.css 또는 App.vue 안의 <style> 섹션에서 설정 */
body {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* 기본 텍스트 색상 */
  margin: 0;
  padding: 0;
}
@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

* {
  font-family: 'Toss Product Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444; /* 제목은 조금 더 진한 색상 */
  font-weight: 600;
  margin-bottom: 1.2rem;
}

p {
  font-size: 16px;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

a {
  color: #007bff; /* 링크 색상 */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3; /* 링크 호버 시 색상 변경 */
}
