<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.safety_inspection.infra.bml.mapper.BuildingManagementLedgerMapper">

    <insert id="insertBuildingData" parameterType="org.scoula.safety_inspection.infra.bml.dto.BuildingManagementLedgerDto">
        INSERT INTO bml_tbl (
            analysis_no,
            violation_structure,
            use_type
        ) VALUES (
            #{analysisNo},
            #{resViolationStatus},
            #{resContents}
        )
    </insert>

    <select id="selectBuildingData" parameterType="int" resultType="org.scoula.safety_inspection.infra.bml.dto.BuildingManagementLedgerDto">
            SELECT * FROM bml_tbl WHERE analysis_no = #{analysisNo}
    </select>

</mapper>
