<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.codefapi.bml.mapper.BuildingManagementLedgerMultiMapper">

    <insert id="insertBuildingData" parameterType="org.scoula.codefapi.bml.dto.BuildingManagementLedgerMultiDto">
        INSERT INTO BML_tbl (
            bml_use_type,
            bml_violation_structure
        ) VALUES (
                  #{resUseType},
                  #{resViolationStatus}
        )
    </insert>

</mapper>
