<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="org.scoula.oauth.mapper.OauthIdMapper">-->

<!--    <select id="selectOauthId" resultType="org.scoula.oauth.domain.VO.OauthId">-->
<!--        SELECT * FROM oauth_id WHERE oauth_server_id = #{oauthServerId}-->
<!--    </select>-->

<!--    <insert id="insertOauthId" parameterType="org.scoula.oauth.domain.VO.OauthId">-->
<!--        INSERT INTO oauth_id (oauth_server_id, oauth_server, member_id)-->
<!--        VALUES (#{oauthServerId}, #{oauthServer}, #{memberId})-->
<!--    </insert>-->

<!--    <update id="updateOauthId" parameterType="org.scoula.oauth.domain.VO.OauthId">-->
<!--        UPDATE oauth_id-->
<!--        SET oauth_server = #{oauthServer}, member_id = #{memberId}-->
<!--        WHERE oauth_server_id = #{oauthServerId}-->
<!--    </update>-->

<!--    <delete id="deleteOauthId" parameterType="string">-->
<!--        DELETE FROM oauth_id WHERE oauth_server_id = #{oauthServerId}-->
<!--    </delete>-->

<!--</mapper>-->