<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.safety_inspection.infra.cors.mapper.CopyOfRegisterMapper">

    <insert id="insertCopyOfRegister" parameterType="org.scoula.safety_inspection.infra.cors.dto.CopyOfRegisterDto">
        INSERT INTO cor_tbl(
            analysis_no,
            owner_state,
            type_of_ownership,
            common_owner,
            change_owner_count,
            maximum_of_bond
        ) VALUES (
            #{analysisNo},
            #{ownerState},
            #{ownership},
            #{commonOwner},
            #{changeOwnerCount},
            #{maximumOfBond}
        )
    </insert>

    <select id="selectCopyOfRegister" parameterType="integer" resultType="org.scoula.safety_inspection.infra.cors.dto.CopyOfRegisterDto">
        SELECT * FROm cor_tbl where analysis_no = #{analysisNo}
    </select>

</mapper>
